*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    background: transparent; 
    color: #DDE5F2; 
  }
  
  .hero-img {
    background: url('../img/matcha-hero.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: #DDE5F2;
    position: relative;
    z-index: 1; 
  }
  
  ul.nav {
    background: transparent !important; 
    z-index: 100; 
  }

li svg{
    display: flex;
    justify-content: center;
    align-items: center;
}
  


.top{
    height: auto;
    width: 100%;
    background-color: #306614;
}

.name{
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}

.hero-img-vapes {
    background: url('../img/matcha-hero.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    color: #DDE5F2;
    position: relative;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}
.about{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.about-text{
    color: #306614;
    font-weight: 400;
    width: 50%;
    margin-right: 100px;
}
.about-img {
    width: 50%;
    height: 500px;
    background: url('../img/matcha-2.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 15px;
}

.info-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    width: 80%; 
    margin-top: 20px;
    background-color: #fff;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}
.info-text{
    color: #306614;
    font-weight: 400;
}

.info-item {
    background-color: #5C993D;
    color: #131200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    width: 100%; 
    box-sizing: border-box; 
}


.text-hero{
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.text-hero-vapes{
    position: absolute;
    right: 90px;
    bottom: 30px;
}




.info-item:first-child {
    border-top-left-radius: 100px;
  }
  
  .info-item:last-child {
    border-bottom-right-radius: 100px;
  }
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;

}
.card{
    margin-bottom: 30px;
    height: 400px;
}


.card-img-top{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 150px;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
}

@media (width <= 1152px){
    .light-blue{
        height: 1000px;
    }
    .light-blue-home{
        display: flex;
        flex-direction: column;
        height: 900px;
        
    }
    .info-item{
        margin: 15px 0px 15px 0 !important;
        width: 80%;
        height: 250px;
    }

    .last-card{
        margin-right: 10px;
    }

}

@media (width <= 790px) {
    .info-grey{
        height: 300px;
    }
    .light-blue-home{
        height: 1100px;
    }
    .text-hero{
        right: 50px;
        bottom: 30px;
    }
    .last-card{
        margin-right: 10px;
    }
}

@media (width <= 592px) {
    .light-blue{
        height: 2000px;
    }
    .last-card{
        margin-right: 15px;
    }
    .light-blue-home{
        height: 1100px;
    }
    .text-hero{
        right: 40px;
        bottom: 20px;
    }
}